<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        User Not Logged In</h2>
                    <div class="error-details">
                        Sorry, an error has occured, user needs to be logged in
                    </div>
                    <div class="error-actions">
                        <a href="../login" class="btn btn-primary btn-lg"><fa-icon [icon]="faSignin"></fa-icon>
                            Go to Login Page
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
