
.weather-card{
    font-size: 18px;
    /*background: rgb(31, 111, 180);*/
    background:  linear-gradient(to left, #4fbbdf, #2f80ed);
    color: #DDDDDD;
}

.cust-h{
    height:50vh;
}

.loader{
    position:absolute ;
    border: 24px solid #f3f3f3;
    border-top: 24px solid #3498db;
    border-bottom: 24px solid  #3498db;
    border-radius: 50%;
    width:160px;
    height:160px;
    margin: 0px auto;    
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}